{% extends "layout.html" %}
{% block content %}
	{% if message and danzer == "false" %}
		<div class="alert alert-info alert-dismissible">
				 <a href="/ChangePassword" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  			{{ message }}
		</div>
	{% endif %}
	{% if message and danzer == "true" %}
		<div class="alert alert-danger alert-dismissible">
				 <a href="/ChangePassword" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  			{{ message }}
		</div>
	{% endif %}
		<h2>Change Password</h2>
	<div class="jumbotron">
		<form method="POST" action="/ChangePassword">
		
			<tr>
				<td>Current Password : </td>
				<td><input type="password" name="old_password"></td>
			</tr>
			<tr>
				<td>New Password : </td>
				<td><input type="password" name="new_password"></td>
			</tr>
			<tr>
				
				<td><input type="submit" name="submit"></td>
			</tr>
		</form>
	</div>		
{% endblock content %}
