{% extends "layout.html" %}
{% block content %}
	{% if message %}
		<div class="alert alert-info alert-dismissible">
				 <a href="/ForgotPassword" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  			{{ message }}
		</div>
	{% endif %}
	<h2>Forgot Password</h2>
	<div class="jumbotron">
		<form method="POST" action="/ForgotPassword">
			
			<tr>
				<td>Email : </td>
				<td><input type="text" name="email"></td>
			</tr>
			
			
			<tr>
				
				<td><input type="submit" name="submit" value="send"></td>
			</tr>
		</form>
	</div>	
{% endblock content %}
