{% extends "layout.html" %}
{% block content %}
					{% if message and danzer=="flase" %}
						<div class="alert alert-info alert-dismissible">
								 <a href="/shopkeeper_auth" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					  			{{ message }}
						</div>
					{% endif %}
					{% if message and danzer=="true" %}
						<div class="alert alert-danger alert-dismissible">
								 <a href="/shopkeeper_auth" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					  			{{ message }}
						</div>
					{% endif %}
					<h2>Add Fruits</h2>
	<div class="jumbotron" style=text-align:center;"">				
	<form method="POST" action="/shopkeeper">
			<tr>
				<td>Iteam Name : </td>
				<td><input type="text" name="iteam_name"></td>
			</tr>
			<tr>
				<td>Iteam Price : </td>
				<td><input type="text" name="iteam_prise"></td>
			</tr>
			<tr>
				
				<td><input type="submit" name="submit"></td>
			</tr>
		</form>

		

	</div>

	<h2>Available Fruits</h2>
	<div class="jumbotron">
		<div class="row">
				<div class="col-sm-3"></div>
			<div class="col-sm-6">
					
					<form method="POST" action="/operation">
						<table class="table table-condensed" border="2">
								<tr style="background-color: lightblue; ">
									<th style="text-align: center;">Fruit Id</th>
									<th style="text-align: center;">Fruit Name</th>
									<th style="text-align: center;">Price</th>
									<th style="text-align: center;">Operation</th>
								</tr>
							{% for i in range(total_fruit) %}
								<tr>
									<td style="text-align: center;">{{data[i][0]}}</td>
									<td style="text-align: center;">{{ data[i][1] }}</td>
									<td style="text-align: center;">{{ data[i][2] }}</td>
									<td style="text-align: center;"><a href="/operation/{{data[i][0]}}">Delete</a></td>
								</tr>
							{% endfor %}
						</table>

					</form>
			</div>
			<div class="col-sm-3"></div>
		</div>	
	</div>
{% endblock content %}